@model Lilas.Models.MonAppartementViewModel

@{
    ViewBag.Title = "MonAppartement";
}

<script type="text/javascript">

    $(document).ready(function () {


        //GESTION ORIENTATION





        //GESTION MONTANTS 0
        var chp_Vitrage_Prix = document.getElementById('ch_tr_vitrage_prix');
        if (chp_Vitrage_Prix.value == 0) { chp_Vitrage_Prix.value = ''; }

        var chp_isoAll_Prix = document.getElementById('ch_tr_isoAll_prix');
        if (chp_isoAll_Prix.value == 0) { chp_isoAll_Prix.value = ''; }

        var chp_isoSmall_Prix = document.getElementById('ch_tr_isoSmall_prix');
        if (chp_isoSmall_Prix.value == 0) { chp_isoSmall_Prix.value = ''; }

        var chp_robinets_Prix = document.getElementById('ch_tr_robinets_prix');
        if (chp_robinets_Prix.value == 0) { chp_robinets_Prix.value = ''; }

        var chp_valves_Prix = document.getElementById('ch_tr_valves_prix');
        if (chp_valves_Prix.value == 0) { chp_valves_Prix.value = ''; }


        //Diplay tableaux travaux
        //updateTravaux('valves');


    });


    function majType(val) {
        document.getElementById('ch_type').value = val;
    }

    function enregistrer() {
        $("form")[0].submit();
    }

    function majOrientNS(val) {
        document.getElementById('ch_orientNS').value = val;
    }

    function majOrientEO(val) {
        document.getElementById('ch_orientEO').value = val;
    }



    function updateTravaux(type) {
        //var boxIdName = 'ch_' + type;
        //var box = document.getElementById(boxIdName);

        //var chIdPrix = 'ch_tr_' + type + '_prix';
        //var chPrix = document.getElementById(chIdPrix);

        //var chIdEntreprise = 'ch_tr_' + type + '_Entreprise';
        //var chEntreprise = document.getElementById(chIdEntreprise);

        //var chIdContact = 'ch_tr_' + type + '_Contact';
        //var chContact = document.getElementById(chIdContact);

        //if (box.checked == true) {


        //    //chPrix.style.display = 'inline-block';
        //    //chEntreprise.style.display = 'inline-block';
        //    //chContact.style.display = 'inline-block';
        //}
        //else {

        //    //chPrix.style.display = 'none';
        //    //chEntreprise.style.display = 'none';
        //    //chContact.style.display = 'none';
        //}
    }


    function changeOrient(orient) {
        var ch_nord = document.getElementById('IsNord');
        var ch_sud = document.getElementById('IsSud');
        var ch_est = document.getElementById('IsEst');
        var ch_ouest = document.getElementById('IsOuest');


        if (orient == 'N') {
            var img = document.getElementById('img_or_N');
            var imgOpp = document.getElementById('img_or_S');
            if (img.src.includes('sel')) {
                img.src = img.src.replace('or_N_sel', 'or_N');
                ch_nord.value = false;
            }
            else {
                img.src = img.src.replace('or_N', 'or_N_sel');
                ch_nord.value = true;
                imgOpp.src = imgOpp.src.replace('or_S_sel', 'or_S');
                ch_sud.value = false;
            }
        }

        if (orient == 'S') {
            var img = document.getElementById('img_or_S');
            var imgOpp = document.getElementById('img_or_N');
            if (img.src.includes('sel')) {
                img.src = img.src.replace('or_S_sel', 'or_S');
                ch_sud.value = false;
            }
            else {
                img.src = img.src.replace('or_S', 'or_S_sel');
                ch_sud.value = true;
                imgOpp.src = imgOpp.src.replace('or_N_sel', 'or_N');
                ch_nord.value = false;
            }
        }

        if (orient == 'E') {
            var img = document.getElementById('img_or_E');
            var imgOpp = document.getElementById('img_or_W');
            if (img.src.includes('sel')) {
                img.src = img.src.replace('or_E_sel', 'or_E');
                ch_est.value = false;
            }
            else {
                img.src = img.src.replace('or_E', 'or_E_sel');
                ch_est.value = true;
                imgOpp.src = imgOpp.src.replace('or_W_sel', 'or_W');
                ch_ouest.value = false;
            }
        }

        if (orient == 'W') {
            var img = document.getElementById('img_or_W');
            var imgOpp = document.getElementById('img_or_E');
            if (img.src.includes('sel')) {
                img.src = img.src.replace('or_W_sel', 'or_W');
                ch_ouest.value = false;
            }
            else {
                img.src = img.src.replace('or_W', 'or_W_sel');
                ch_ouest.value = true;
                imgOpp.src = imgOpp.src.replace('or_E_sel', 'or_E');
                ch_est.value = false;
            }
        }

    }




</script>






<!--TITRE-->
<div>
    <h1 class="display-4">
        Mon appartement
    </h1>
</div>


@using (Html.BeginForm("MonAppartement", "Appartement", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.IsNord)
    @Html.HiddenFor(m => m.IsSud)
    @Html.HiddenFor(m => m.IsEst)
    @Html.HiddenFor(m => m.IsOuest)

    <!--INFORMATIONS DE L'APPARTEMENT-->
    <h4 class="col-sm-12 titre-bloc">Informations de l'appartement</h4>
    <div class="sous-partie">
        <div class="row">
            <!--Batiment-->
            <div class="col-sm-3 form-group">
                <span>Batiment :</span>
                <div class="valeur">
                    @if (Model.IsBatA)
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_bat-1">
                            <input type="radio" id="rb_bat-1" class="mdl-radio__button" name="rb_bat" value="1" checked disabled>
                            <span class="mdl-radio__label normaltext">A4</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_bat-2">
                            <input type="radio" id="rb_bat-2" class="mdl-radio__button" name="rb_bat" value="2" disabled>
                            <span class="mdl-radio__label normaltext">B</span>
                        </label>
                    }
                    else
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_bat-1">
                            <input type="radio" id="rb_bat-1" class="mdl-radio__button" name="rb_bat" value="1" disabled>
                            <span class="mdl-radio__label normaltext">A4</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_bat-2">
                            <input type="radio" id="rb_bat-2" class="mdl-radio__button" name="rb_bat" value="2" checked disabled>
                            <span class="mdl-radio__label normaltext">B</span>
                        </label>
                    }


                </div>
            </div>

            <!--Escalier-->
            <div class="col-sm-3 form-group">
                <span class="normaltext">Escalier :</span>
                <div class="valeur">
                    @if (Model.IsEscalierA)
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_esc-1">
                            <input type="radio" id="rb_esc-1" class="mdl-radio__button" name="rb_esc" value="1" checked disabled>
                            <span class="mdl-radio__label normaltext">A</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_esc-2">
                            <input type="radio" id="rb_esc-2" class="mdl-radio__button" name="rb_esc" value="2" disabled>
                            <span class="mdl-radio__label normaltext">B</span>
                        </label>
                    }
                    else
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_esc-1">
                            <input type="radio" id="rb_esc-1" class="mdl-radio__button" name="rb_esc" value="1" disabled>
                            <span class="mdl-radio__label normaltext">A</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="rb_esc-2">
                            <input type="radio" id="rb_esc-2" class="mdl-radio__button" name="rb_esc" value="2" checked disabled>
                            <span class="mdl-radio__label normaltext">B</span>
                        </label>
                    }

                </div>
            </div>

            <!--Etage-->
            <div class="col-sm-3 form-group">
                <span>Etage :</span>
                <div class="valeur">
                    <div class="noPadding mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.DisplayFor(m => m.Etage, new { @class = "mdl-textfield__input", @id = "ch_etage" })
                        <span class="mdl-textfield__error">Incorrect</span>
                    </div>
                </div>

            </div>

            <!--porte-->
            <div class="col-sm-3 form-group">
                <span>porte :</span>
                <div class="valeur">
                    <div class="noPadding mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.DisplayFor(m => m.Porte, new { @class = "mdl-textfield__input", @id = "ch_porte" })
                        <span class="mdl-textfield__error">Incorrect</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 clear"></div>

            <!--Appartement-->
            <div class="col-sm-6 form-group ">
                <span>Appartement :</span>
                <div class="valeur">
                    <div class="noPadding mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.Appartement, new { @class = "mdl-textfield__input", @id = "ch_appt" })
                        <span class="mdl-textfield__error">Appartement déjà créé !</span>
                    </div>
                </div>
            </div>

            <!--Nom-->
            <div class="col-sm-6 form-group">
                <span>Nom :</span>
                <div class="valeur">
                    <div class="noPadding mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "mdl-textfield__input", @id = "ch_user" })
                        <span class="mdl-textfield__error">Incorrect</span>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 clear"></div>

            <!--Type appartement-->
            <div class="col-sm-6 form-group">
                <span>Type :</span>
                <div class="valeur">
                    @if (Model.Type == "T2")
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type1">
                            <input checked class="mdl-radio__button" id="Type1" name="rb_type" type="radio"
                                   value="on" onclick="majType('T2');" checked>
                            <span class="mdl-radio__label normaltext">T2</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type2">
                            <input class="mdl-radio__button" id="Type2" name="rb_type" type="radio" value="off" onclick="majType('T3');">
                            <span class="mdl-radio__label normaltext">T3</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type3">
                            <input class="mdl-radio__button" id="Type3" name="rb_type" type="radio" value="off" onclick="majType('T4');">
                            <span class="mdl-radio__label normaltext">T4</span>
                        </label>
                    }

                    @if (Model.Type == "T3")
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type1">
                            <input checked class="mdl-radio__button" id="Type1" name="rb_type" type="radio"
                                   value="on" onclick="majType('T2');">
                            <span class="mdl-radio__label normaltext">T2</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type2">
                            <input class="mdl-radio__button" id="Type2" name="rb_type" type="radio" value="off" onclick="majType('T3');" checked>
                            <span class="mdl-radio__label normaltext">T3</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type3">
                            <input class="mdl-radio__button" id="Type3" name="rb_type" type="radio" value="off" onclick="majType('T4');">
                            <span class="mdl-radio__label normaltext">T4</span>
                        </label>
                    }

                    @if (Model.Type == "T4")
                    {
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type1">
                            <input checked class="mdl-radio__button" id="Type1" name="rb_type" type="radio"
                                   value="on" onclick="majType('T2');">
                            <span class="mdl-radio__label normaltext">T2</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type2">
                            <input class="mdl-radio__button" id="Type2" name="rb_type" type="radio" value="off" onclick="majType('T3');">
                            <span class="mdl-radio__label normaltext">T3</span>
                        </label>
                        <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="Type3">
                            <input class="mdl-radio__button" id="Type3" name="rb_type" type="radio" value="off" onclick="majType('T4');" checked>
                            <span class="mdl-radio__label normaltext">T4</span>
                        </label>
                    }


                </div>
                @Html.TextBoxFor(m => m.Type, new { @class = "hidden", @id = "ch_type" })
            </div>

            <!--Orientation-->
            <div class="col-sm-6 form-group">
                <span>Orientation :</span>
                <div class="valeur">
                    @if (Model.IsNord)
                    {
                        <img id="img_or_N" src='@Url.Content("~/Content/Icones/")or_N_sel.png' onclick="changeOrient('N');" />
                    }
                    else
                    {
                        <img id="img_or_N" src='@Url.Content("~/Content/Icones/")or_N.png' onclick="changeOrient('N');" />
                    }

                    @if (Model.IsSud)
                    {
                        <img id="img_or_S" src='@Url.Content("~/Content/Icones/")or_S_sel.png' onclick="changeOrient('S');" />
                    }
                    else
                    {
                        <img id="img_or_S" src='@Url.Content("~/Content/Icones/")or_S.png' onclick="changeOrient('S');" />
                    }

                    @if (Model.IsEst)
                    {
                        <img id="img_or_E" src='@Url.Content("~/Content/Icones/")or_E_sel.png' onclick="changeOrient('E');" />
                    }
                    else
                    {
                        <img id="img_or_E" src='@Url.Content("~/Content/Icones/")or_E.png' onclick="changeOrient('E');" />
                    }



                    @if (Model.IsOuest)
                    {
                        <img id="img_or_W" src='@Url.Content("~/Content/Icones/")or_W_sel.png' onclick="changeOrient('W');" />
                    }
                    else
                    {
                        <img id="img_or_W" src='@Url.Content("~/Content/Icones/")or_W.png' onclick="changeOrient('W');" />
                    }

                </div>

            </div>

            <!--Message-->
            <div class="col-sm-2"></div>
            <div class="col-sm-8 message message-info">
                <span>Les champs "Appartement" et "Nom" seront necessaires pour vous identifier.</span><br />
                <span>Le partage des données permet de partager les caractéristiques de votre logement (Double vitrage, valves, orientation, type appartement et consommation moyenne annuelle). Vous devez accepter de partager ces informations pour avoir la possibilité de voir ces même informations pour d'autres logements.</span>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div><br /><br />




    <!--TRAVAUX REALISES-->
    <h4 class="col-sm-12 titre-bloc">Travaux réalisés</h4>
    <div class="sous-partie">
        <div class="row">

            <div class="col-sm-1 form-group">
                <span>Type</span>
            </div>

            <div class="col-sm-3 form-group">
                <span>Réalisé</span>
            </div>

            <div class="col-sm-1 form-group">
                <span>Prix</span>
            </div>

            <div class="col-sm-4 form-group">
                <span>Entreprise / Artisan</span>
            </div>

            <div class="col-sm-3 form-group">
                <span>Contact</span>
            </div>



            <!--Double vitrage-->
            <div class="col-sm-1 form-group">
                <img src='@Url.Content("~/Content/Icones/")trav_doubleVitrage.png' />
            </div>

            <div class="col-sm-3 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_vitrage">
                    @Html.CheckBoxFor(m => m.IsDoubleVitrage, new { @id = "ch_vitrage", @class = "mdl-checkbox__input", @onClick = "updateTravaux('vitrage');" })
                    <span class="mdl-checkbox__label normaltext">Double vitrage</span>
                </label>
            </div>

            <div class="col-sm-1 form-group">
                @Html.TextBoxFor(m => m.InfosVitrage.Prix, new { @class = "mdl-textfield__input", @id = "ch_tr_vitrage_prix" })
            </div>

            <div class="col-sm-4 form-group">
                @Html.TextBoxFor(m => m.InfosVitrage.Entreprise, new { @class = "mdl-textfield__input", @id = "ch_tr_vitrage_Entreprise" })
            </div>

            <div class="col-sm-3 form-group">
                @Html.TextBoxFor(m => m.InfosVitrage.Contact, new { @class = "mdl-textfield__input", @id = "ch_tr_vitrage_Contact" })
            </div>


            <!--Isolation-->
            <div class="col-sm-1 form-group">
                <img src='@Url.Content("~/Content/Icones/")trav_isolationTotale.png' />
            </div>
            <div class="col-sm-3 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_isoAll">
                    @Html.CheckBoxFor(m => m.IsIsolationTotale, new { @id = "ch_isoAll", @class = "mdl-checkbox__input", @onClick = "updateTravaux('isoAll');" })
                    <span class="mdl-checkbox__label normaltext">Isolation intérieure totale</span>
                </label>
            </div>

            <div class="col-sm-1 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationTotale.Prix, new { @class = "mdl-textfield__input", @id = "ch_tr_isoAll_prix" })
            </div>

            <div class="col-sm-4 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationTotale.Entreprise, new { @class = "mdl-textfield__input", @id = "ch_tr_isoAll_Entreprise" })
            </div>

            <div class="col-sm-3 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationTotale.Contact, new { @class = "mdl-textfield__input", @id = "ch_tr_isoAll_Contact" })
            </div>

            <!--Isolation partielle-->
            <div class="col-sm-1 form-group">
                <img src='@Url.Content("~/Content/Icones/")trav_isolationSmall.png' />
            </div>
            <div class="col-sm-3 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_isoSmall">
                    @Html.CheckBoxFor(m => m.IsIsolationPartielle, new { @id = "ch_isoSmall", @class = "mdl-checkbox__input", @onClick = "updateTravaux('isoSmall');" })
                    <span class="mdl-checkbox__label normaltext">Isolation intérieure partielle</span>
                </label>
            </div>

            <div class="col-sm-1 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationPartielle.Prix, new { @class = "mdl-textfield__input", @id = "ch_tr_isoSmall_prix" })
            </div>

            <div class="col-sm-4 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationPartielle.Entreprise, new { @class = "mdl-textfield__input", @id = "ch_tr_isoSmall_Entreprise" })
            </div>

            <div class="col-sm-3 form-group">
                @Html.TextBoxFor(m => m.InfosIsolationPartielle.Contact, new { @class = "mdl-textfield__input", @id = "ch_tr_isoSmall_Contact" })
            </div>


            <!--Robinets-->
            <div class="col-sm-1 form-group">
                <img src='@Url.Content("~/Content/Icones/")trav_thermostatiques.png' />
            </div>
            <div class="col-sm-3 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_robinets">
                    @Html.CheckBoxFor(m => m.IsRobinetsThermo, new { @id = "ch_robinets", @class = "mdl-checkbox__input", @onClick = "updateTravaux('robinets');" })
                    <span class="mdl-checkbox__label normaltext">Robinets Thermostatiques</span>
                </label>
            </div>

            <div class="col-sm-1 form-group">
                @Html.TextBoxFor(m => m.InfosRobinets.Prix, new { @class = "mdl-textfield__input", @id = "ch_tr_robinets_prix" })
            </div>

            <div class="col-sm-4 form-group">
                @Html.TextBoxFor(m => m.InfosRobinets.Entreprise, new { @class = "mdl-textfield__input", @id = "ch_tr_robinets_Entreprise" })
            </div>

            <div class="col-sm-3 form-group">
                @Html.TextBoxFor(m => m.InfosRobinets.Contact, new { @class = "mdl-textfield__input", @id = "ch_tr_robinets_Contact" })
            </div>


            <!--Valves-->
            <div class="col-sm-1 form-group">
                <img src='@Url.Content("~/Content/Icones/")trav_valvesAuto.png' />
            </div>
            <div class="col-sm-3 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_valves">
                    @Html.CheckBoxFor(m => m.IsValvesAuto, new { @id = "ch_valves", @class = "mdl-checkbox__input", @onClick = "updateTravaux('valves');" })
                    <span class="mdl-checkbox__label normaltext">Valves automatiques</span>
                </label>
            </div>

            <div class="col-sm-1 form-group">
                @Html.TextBoxFor(m => m.InfosValves.Prix, new { @class = "mdl-textfield__input", @id = "ch_tr_valves_prix" })
            </div>

            <div class="col-sm-4 form-group">
                @Html.TextBoxFor(m => m.InfosValves.Entreprise, new { @class = "mdl-textfield__input", @id = "ch_tr_valves_Entreprise" })
            </div>

            <div class="col-sm-3 form-group">
                @Html.TextBoxFor(m => m.InfosValves.Contact, new { @class = "mdl-textfield__input", @id = "ch_tr_valves_Contact" })
            </div>



        </div>
    </div><br /><br />




    <!--PARTAGE DES DONNEES-->
    <h4 class="col-sm-12 titre-bloc">Partage des données</h4>
    <div class="sous-partie">
        <div class="row">

            <div class="col-sm-12 form-group">
                <p>
                    L'application utilise automatiquement vos données afin de calculer les moyennes affichées sur la page "Vue générale".
                    Vos données sont donc utilisées mais non nominativement et elles sont donc noyées dans le flot général des données.
                </p>
            </div>
            <!--consommation-->
            <div class="col-sm-12 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_partager">
                    @Html.CheckBoxFor(m => m.Partager, new { @id = "ch_partager", @class = "mdl-checkbox__input" })
                    <span class="mdl-checkbox__label normaltext">Autoriser le partage de mes consommations de chauffage</span>
                </label>
                <p>
                    Permet de partager de maniére détaillé la consommation de chauffage de votre appartement.
                    Les autres utilisateurs pourront visualiser l'equivalent de vos graphiques présents dans la page
                    "Ma consommation". Le partage de ces informations permet de visualiser celles des autres appartements qui font aussi ce partage.
                </p>
            </div>


            <!--consommation-->
            <div class="col-sm-12 form-group">
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="ch_partagerTr">
                    @Html.CheckBoxFor(m => m.PartagerTravaux, new { @id = "ch_partagerTr", @class = "mdl-checkbox__input" })
                    <span class="mdl-checkbox__label normaltext">Autoriser le partage du prix de mes travaux</span>
                </label>
                <p>
                    Si vous avez renseigné le tableau des travaux, l'entreprise et son contact seront automatiquement partagées.
                    Vous pouvez néanmoins refuser de partager le prix de ces travaux.
                </p>
            </div>

        </div>
    </div><br /><br />





















    <!--Btn add-->
    <div class="col-sm-12 form-group center">
        <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" onClick="enregistrer()">
            Sauvegarder
        </button>
    </div>





}